/freelancing-platform-ui/build-a-dapp-from-scratch/node_modules
/freelancing-platform-ui/build-a-dapp-from-scratch/coverage
/freelancing-platform-ui/build-a-dapp-from-scratch/build
/freelancing-platform-ui/build-a-dapp-from-scratch/.DS_Store
/freelancing-platform-ui/build-a-dapp-from-scratch/.env
/freelancing-platform-ui/build-a-dapp-from-scratch/npm-debug.log
