.container-1, .container-2 {
    /*height: 1500px;*/

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15%;

    font-weight: 600;
    /*height: 600px;*/
}

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15%;

    font-weight: 600;
}

.container-2 {
    background-color: #1b2430;
    color: white;
}

.container-3 {
    padding: 100px 15%;
    color: #1b2430;
}

.container-1 div, .container-2 div {
    width: 50%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.create-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-project-button, .create-project-with-transaction-button, .action-button {
    padding: 20px;
    background-color: #1b2430;
    border: none;
    border-radius: 15px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 1);*/

    font-size: 24px;
    font-weight: 600;
    color: white;
}

.action-button {
    background-color: white;
    color: #1b2430;
}

.create-project-with-transaction-button, .action-button {
    padding: 10px;
    font-size: 14px;
}

.create-project-button:hover, .create-project-with-transaction-button:hover, .action-button:hover {
    background-color: #17cf97;
    transition: background-color 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .container-1, .container-2, .user-project-container {
        flex-direction: column;
    }
}

.container-3-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Adjust the gap between grids as needed */
}

.container-3-grid div {
    flex: 1;
    padding: 20px; /* Adjust the padding as needed */
    /*background-color: #f0f0f0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 950px) {
    .container-3-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.user-project-agreement-container {
    /*padding: 2.5% 5%;*/
    margin: 5% 15%;
}

.user-project-container, .user-project-agreements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 5%;
    /*margin: 5% 15%;*/

    border-radius: 10px;

    font-weight: 600;
}

.user-project-container div, .user-project-agreements div {
    width: 50%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-project-info, .agreement-info {
    /*padding: 20px;*/
    /*border-radius: 10px;*/
}

.user-project-action, .agreement-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-role-error-container {
    padding: 20px 15%;
    background-color: #e74c3c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-role-input-button {
    padding: 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.user-role-input-button:hover {
    transition: background-color 0.3s;
    cursor: pointer;
}

.user-role-set-button {
    padding: 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: #1b2430;
}

.user-role-set-button:hover {
    background-color: #17cf97;
    transition: background-color 0.3s;
    cursor: pointer;
}